// 颜色
// 主色：绿色
@c-primary:#c4deaa;// 正常绿色：
@c-light-primary:#b5ddc7;// 轻绿色：
@c-dark-primary:#19be6b;// 深绿色：

// 辅助色：
@c-info:#a7d2f1;
@c-success:#afcd50;
@c-warning:#ec9f45;
@c-error:#ff6779;

// 中性色：
@c-title:#2e5c77;;// 标题颜色：
@c-content:#2c3e50;// 正文颜色：
@c-disable:#c5c8ce;// 失效颜色

@white:#ffffff;
@black:#000000;