// 字体使用规范
// 主标题
.t-main{
    font-family: 'b-txt';
    font-size: 18px;
    color: @c-title;
}

// 次标题
.t-second{
    font-family: 'b-txt';
    font-size: 16px;
    color: @c-title;
}

// 小标题
.t-small{
    font-family: 'b-txt';
    font-size: 14px;
    color: @c-title;
}

// 正文
.t-content{
    font-family: 'n-txt';
    font-size: 14px;
    color: @c-content;
}

// 失效文字
.t-disable{
    font-family: 'n-txt';
    font-size: 12px;
    color: @c-disable;
}

// 链接文字
.t-link{
    font-family: 'n-txt';
    font-size: 12px;
    color: @c-info;
}